name: thermometer_widget
description: "A simple and customizable thermometer widget"
version: 0.1.0
repository: https://github.com/Ahmed-Yasir1147/Thermometer.git

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

license: MIT

platforms:
  android:
  ios:
  linux:
  macos:
  web:
  windows:

flutter:
  assets: 
    - assets/fonts/

  fonts:
    - family: DigitalNumbers
      fonts:
        - asset: assets/fonts/digital_numbers.ttf
 
